helium==3.0.8; python_version >= "3"
selenium==3.141.0; python_version >= "3"
urllib3==1.26.9; python_version >= "3" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3"
